<!DOCTYPE html>
<html lang="en">
<head>
    <title>AP2 - The Dream Team</title>
</head>
<body>
<h1>Anomaly Detection Server</h1>
<form action={{url_for("index")}} method ="POST" enctype = "multipart/form-data">
    <label for="algorithms">Choose an algorithm:</label>
    <select name="algorithms" id="algorithms">
        <option value="regression">Regression-based algorithm</option>
        <option value="hybrid">Hybrid algorithm</option>
    </select>

    <br><br>

    <label for="irreg_csv">Upload an irregular csv file:</label>
    <input type="file" name="irreg_csv" accept=".csv"/>

    <br><br>

    <label for="reg_csv">Upload a regular csv file:</label>
    <input type="file"  name="reg_csv" accept=".csv"/>

    <br><br>

    <input type="submit" value="Upload">
</form>
{%if display_data%} <!--whether the table is displayed or not-->
<table>
    <tr>
        <td> Time Stamp </td>
        <td> Description 1</td>
        <td> Description 2</td>
    </tr>

    {% for line in result %}

    <tr>
        <td> {{ line['t_stamp'] }} </td>
        <td> {{ line['p_1'] }} </td>
        <td> {{ line['p_2'] }} </td>
    </tr>

    {% endfor %}
</table>
{%endif%}
</body>
</html>